@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

body {
    background-color: rgb(35, 19, 56);
}

.navhead {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 0 40px;
    background-color: palevioletred;
}

.logname {
    font-family: "poppins";
    font-size: 300%;
    font-weight: 900;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 180%;
    justify-content: center;
    list-style-type: none;

}

nav a {

    text-decoration: none;
    font-family: "poppins";
    font-weight: 700;
}

.contriner1{
    display: flex;
    /* align-items: center; */
    padding: 30px;
    justify-content: space-around;
    padding: 50px;
    overflow: hidden;
}

/* .incontriner1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150%;

} */
 .right h1{
    padding-top: 20%;
 }

.right h1,
p {
    color: rgba(238, 114, 232, 0.568);
    font-size: 300%;
    font-family: "poppins";
    text-align: center;
    text-shadow: 1px 1px rgb(163, 6, 98) -1;
}

/* .left {
    width: 30px;
    height: 20%;
} */

.img1 {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-left: 30%;
}